{% extends "layout.html" %}
{% block body %}
    
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/ibhome.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Islamic Blogs</h1>
            <span class="subheading">Handled by Naseeb R Khan</span>
          </div>
        </div>
      </div>
    </div>
  </header>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


     <!-- Todo: Fetch it using for loop from the database -->

     {% for post in posts %}    
          <div class="post-preview">
            <a href="/post/{{post.slug}}">
              <h2 class="post-title">{{ post.title }}

              </h2>
              <h3 class="post-subtitle">
                {{post.sub}}
              </h3>
            </a>
            <p class="post-meta">Researched by
              <a href="https://www.google.com/search?q={{post.wrt}}">{{post.wrt}}</a>
              Posted by Naseeb Ur Rahman on {{post.dt}}</p>
          </div>

          {{post.content[0:143]}} ...
          <hr>
</li></a>
          {% endfor %}


          <!-- Pager -->
          <div class="clearfix">
            <a href="{{prev}}" class="btn btn-secondary btn-lg active  " role="button" aria-pressed="true"><<</a>
            <a href="{{next}}" class="btn btn-primary float-right  btn-lg active" role="button" aria-pressed="true">>></a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

