{% extends "layout.html" %}
{% block body %}
{% set fname= 'img/'+ post.img %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename=fname) }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h3 class="post-subtitle">
                {{post.sub}}
              </h3>
            <span class="meta">Researched by
              {{post.wrt}},
              {{post.dt}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{post.content}}</p>
        </div>
      </div>
    </div>
  </article>


{% endblock %}